@import url(normalize.css);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,300,700&subset=latin,cyrillic-ext,cyrillic);
/* --------------------------------
  Primary style
----------------------------------s */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}
