@import "normalize";
@import "materialize";
/* --------------------------------
  Primary styles
----------------------------------*/
$primary-color: #616161;
$secondary-color: #039be5;
$second-bg: #f5f5f5;
$section-bg: #fafafa;
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    outline: none !important;
}
img {
    max-width: 100%;
}
.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}
// Navigation start
nav {
    background: $second-bg;
    .brand-logo {
        color: $primary-color;
    }
    ul.table-of-contents {
        a {
            color: $primary-color;
            &.active,
            &:hover {
                border: none;
                background: none;
                color: $secondary-color;
                padding-left: 20px;
            }
        }
    }
    .switch {
        margin-left: 30px;
        label input[type=checkbox]:checked + .lever {
            background: $secondary-color;
            &:after {
                background: #0288d1;
            }
        }
    }
    .button-collapse {
        color: $secondary-color;
    }
}
label {
    color: $primary-color;
}
// Navigation END
//Parallax start
.parallax-container {
    display: flex;
    align-items: center;
    .slogan {
        color: #fff;
        font-size: 46px;
        text-shadow: 0 0 15px #a1887f;
    }
}
//Parallax END
//Main page
.second_backbround {
    background: $section-bg;
}
h2 {
    text-align: center;
}
#about {
    text-align: center;
}
#services {
    .card {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}
//Tabs Portfolio
#portfolio {
    .tabs {
        .tab {
            a {
                color: $secondary-color;
                &:hover {
                    color: darken($secondary-color, 10%);
                }
            }
        }
        .indicator {
            background: $secondary-color;
        }
    }
    .project {
        margin-top: 20px;
        .project_img {
            float: left;
            margin-right: 20px;
        }
        h4 {
            font-size: 26px;
        }
    }
}
//Contact
#contact {
    .submit {
        text-align: center;
        a {
            margin-top: 40px;
        }
    }
    h4.header {
        text-align: center;
        margin-top: 100px;
    }
    .our_contacts {
        font-size: 24px;
        margin-top: 40px;
        color: #616161;
        i {
            font-size: 42px;
        }
        .col {
            line-height: 42px;
            margin-bottom: 20px;
        }
        iframe {
            width: 100% !important;
            height: 550px !important;
        }
    }
}
// Main page END
// Footer
footer.page-footer {
    background: $section-bg;
    padding: 0;
    margin-top: 40px;
    .footer-copyright {
        color: $primary-color;
    }
}
