@import url(normalize.css);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,300,700&subset=latin,cyrillic-ext,cyrillic);
/* -------------------------------- 
  Primary style
----------------------------------s */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}


body {
  font-size: 1.6rem;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  color: #222;
  background-color: #60DFE5;
  margin: 0;
}


.wrapper{
  width: 100%;
  margin: 0 auto;
  padding: 25px 10px;
  max-width: 500px;
}

h1{
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
}

.goodbuy{
  font-weight: 700;
  font-size: 2.6rem;
  text-align: center;
  color: #fff;
}

.goodbuy span{
  font-weight: 300;
}